.nav-box {
    background-color: #27292d;
    height: 3rem;
}

.menu-container {
    width: 45%;
    margin: 0 auto;
    height: 100%;
    background-color: #27292d;
    display: flex;
    justify-content: space-between;
}

.btn-container {
  background-color: #595c61;
  padding: 10px 20px;
  width: 20rem;
  text-decoration: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.btn-container:focus {
  background-color:  #010101;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;

}

.btn-container div {
    font-size: 18px;
    color: #fff;
    text-align: center;
}